/* Compose button styles*/
#compose-btn {
    background-color: #669BBC;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #FDF0D5;
    padding: 10px;
    border: solid 2px;
    border-radius: 10%;
    cursor: pointer;
}

#compose-btn:hover {
    background-color: #FDF0D5;
    color: black;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px;
    border: solid 2px;
    border-radius: 10%;
    cursor: pointer;
}

/* Compose tab styles */
#compose-tab {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    display: none;
    z-index: 1;
    max-width: 600px;
}

#compose-tab input[type="email"],
#compose-tab input[type="text"],
#compose-tab textarea {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #333;
}

#compose-tab button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#compose-tab button[type="submit"]:hover {
    background-color: #3e8e41;
}

=======
  position: fixed;
  bottom: 30px;
  right: 170px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
  max-width: 800px;
  width: 600px;
  height: 500px;
}

#compose-tab form {
  display: flex;
  flex-direction: column;
}

#compose-tab label {
  margin-bottom: 5px;
}

#compose-tab input[type="text"],
#compose-tab textarea {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}

#compose-tab textarea {
  height: 300px;
  resize: none;
}

.send-btn {
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #669BBC;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

