button:not(.exclude) {
        all:unset;
        color: #FDF0D5;
        padding:5px;
        border-radius:5%;
        border:2px solid;

}

button:not(.exclude):hover {
        all:unset;
        background-color: #FDF0D5;
        color: black;
        padding:5px;
        border-radius:5%;
        border:2px solid;

}

.inbox {
        padding:10px;
        padding-top:30px;
        margin-left: 40%;
        margin-right:5%;
}

.inboxWidth {
        padding-right:600px;
}

.searchBar {
        padding-left:10px;
        padding-top:30px;
        margin-left:40%
}

.searchBar input {
        padding:5px;
        padding-right:300px;
}


.inboxNav {
        position:relative;
}

.inboxSender {
        padding-right:10px;
        border-right:gray solid 1px;
}

.inboxSubject {
        padding-left:10px;
        padding-right:10px;
}

.inboxTimestamp {
        position:absolute;
        right:0;
        padding-right:20px;
}

.background-home {
        background-color: #669BBC;
        min-height: 100vh;
}

.center {
       position:absolute;
       top:20%;
       left:25%;
}

h2 {
        color:#FDF0D5;
}

.navbar-nav {
        font-size: 15px;
        line-height: 2.5;
}

.email-background:not(.exclude-background) {
        background-color:#669BBC;
        min-height: 100vh;
}

.logo {
      border:none;
      border-radius:50%;
      height:50px;
      width:50px; 
}


.centerForm {
        display:block;
        margin-left:25%;
        margin-right:25%;
        margin-top:5%;
        border: 0.5px solid #669BBC;
        background-color: #FDF0D5;
        border-radius:5%;
        padding:25px;
}

.flash-message {
        position:absolute;
        left:0;
        bottom:0;
        color:#C1121F;
        font-family: Helvetica, sans-serif;
        font-size:20px;
        padding-left:10px;
}

.questionMark {
        
       font-size:12px;
}
