.centerForm {
    display:block;
    margin-left:25%;
    margin-right:25%;
    margin-top:10%;
    border: 1px solid black;
    padding:10px;
}

.inbox {
    position:absolute;
    left:40%;
    top:8%;
}