.notificationButton {
    margin-left:80%;
    margin-top:5%;
}

.notificationBell {
    width:24px;
    height:24px;
}

.dot {
height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}


#redDot{
    background-color: red;
}

#greenDot{
    background-color: green;
}