<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chat Messages</title>
   <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
  </head>
  <body>
    <div class="app-container">
      <div class="previous-messages">
        <div class="user-panel">
          <span class="user-name">User name</span>
          <form action="{{ url_for('delete_messages') }}" method="POST" style="display:inline;">
            {{ form.hidden_tag() }}
            <button class="new-message-button">Delete Messages</button>
          </form>
        </div>
        <div class="recipient-list">
          {% for recipient in recipients %}
            <div class="recipient-box {% if recipient.id == selected_recipient_id %}selected{% endif %}" onclick="location.href='{{ url_for('chat', recipient_id=recipient.id) }}'">
               {{ recipient.name }}
            </div>
          {% endfor %}
        </div>
        <div class="message-history">
          {% if selected_recipient_id %}
          <!-- Previous messages will be displayed here -->
            {% for message in messages_with_recipient %}
              <p class="sent-message">{{ message.content }}</p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="chat-container">
        <div class="message-box">
          <!-- Current messages will be displayed here -->
          {% for message in sent_messages %}
            <p class="sent-message">{{ message.content }}</p>
          {% endfor %}
        </div>
        <div class="send-message">
         <form action="{{ url_for('send_message') }}" method="POST">
           {{ form.hidden_tag() }}
          <input class="message-input" name="message" type="text" placeholder="Type your message here...">
          <button class="send-button">Send</button>
         </form>
        </div>
      </div>
    </div>
  </body>
</html>

