<!DOCTYPE html>
<html>
    <head>
        <title>Email</title>
        <link href="{{url_for('static', filename='composeButton.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='todoList.css')}}" rel="stylesheet">
        <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" 
        
integrity="sha512-m2GDrNvO8YJWfUjg57x0x0HihJ8SMTnxKd6kLOYYm9JUljTk4Uy4VJg46LPnMzC7igTscItKuVgJ04sP9nVnKg==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <form method="GET" action="{{ url_for('search_email') }}">
            <input type="text" name="search_query" placeholder="Search emails" />
            <input type="submit" value="Search" />
        </form>

        <a href="/home">Home</a>
        <!--Compose Button-->
        <button id="compose-btn"><i class="fas fa-pencil-alt"></i>Compose</button>
        <div id="compose-tab">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>{{form.recipient(size=32, placeholder="Recipients")}}</p>
                <p>{{form.subject(size=32, placeholder="Subject")}}</p>
                <p>{{form.content(rows=10, cols=50, placeholder="Enter message")}}</p>
                <div id="attachment-icons"></div>
                <p>
                    <button id="send-btn">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi 
bi-box-arrow-up-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M2.5 14A1.5 1.5 0 0 1 1 12.5V3.5A1.5 1.5 0 0 1 2.5 2h8a1.5 1.5 0 
0 1 1.5 1.5v3.793l-1.146-1.147a.5.5 0 0 0-.708 0l-.147.146a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 
.708-.708L12.207 8H8.5A.5.5 0 0 1 8 7.5V3.5a.5.5 0 0 1 .5-.5h3.99a.5.5 0 0 0 .5-.5v-.5a.5.5 0 0 
0-.5-.5H2.5a.5.5 0 0 0-.5.5v10z"/>
  </svg>
  Send
</button>
                </p>
            </form>
        </div>

        <script src="{{url_for('static', filename='composeButton.js')}}"></script>
    
        <div class="todo">
            <h1>Todo List</h1>
        <div class="linebreak"></div>
        <form action="/addTodo" method="post">
          <input type="taskInput" id="name" name="name" placeholder="Enter 
task..." required>
          <input type="date" id="date" name="date" placeholder="mm/dd" 
required>
          <button type="taskSubmit">+</button>
        </form>

        {%for task in todo_list%}
        <div class="linebreak"></div>
        <tr>
            {%if task.done==False and task.edit==False %}
            <li type="task" 
onclick='window.location.href="/updateTodo/{{task.task_id}}"'>{{task.name}}
              <div class="date">{{task.date}}</div>
              <div class="linebreak"></div>
            </li>
            <td><a type="edit" 
href="/startEdit/{{task.task_id}}">✎</a></td>
            {%elif task.done==True and task.edit==False %}
            <li type="task" class="checked" 
onclick='window.location.href="/updateTodo/{{task.task_id}}"'>{{task.name}}
              <div class="date">{{task.date}}</div>
            </li>
            <td><a type="edit" 
href="/startEdit/{{task.task_id}}">✎</a></td>
            {%else%}
            <form action="/submitEdit/{{task.task_id}}" method="post">
              <input type="editInputText" id="editInputText" 
name="editInputText" value="{{task.name}}" required>
              <input type="date" id="editInputDate" name="editInputDate" 
value="{{task.date}}" required>
              <button type="submitEdit">✎</button>
            </form>
            
            {%endif%}
            <td><a type = "delete" 
href="/deleteTodo/{{task.task_id}}">X</a></td>
        </tr>
        {%endfor%}

        </div>
      
        <script>
            var composeBtn = document.getElementById("compose-btn");
            var composeTab = document.getElementById("compose-tab");
            var closeBtn = document.createElement("span");

            closeBtn.innerHTML = "&times;";
            closeBtn.style.position = "absolute";
            closeBtn.style.top = "10px";
            closeBtn.style.right = "10px";
            closeBtn.style.fontSize = "24px";
            closeBtn.style.cursor = "pointer";

            closeBtn.onclick = function() {
                composeTab.style.display = "none";
            };

            composeBtn.onclick = function() {
                composeTab.style.display = "block";
                composeTab.appendChild(closeBtn);
            };
        </script>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

        <form method="post">
            <input type="submit" value="del-Acc" name="delAcc"/>
        </form>
        <p>Email Template</p>
    </body>
