<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{url_for('static', filename='registerStyle.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
  
  

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #003049;">
    <a class="navbar-brand" href="#">Logo</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/email">Email <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chat">Chat <span class="sr-only">(current)</span></a>
      </li>
      </ul>
    </div>
    <form method="post" action="/home">
      <button type="submit" value="Log-Out" name="logOut">Log-Out</button>
    </form>
</nav>

<div class ="background-home">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class = "flash-message">ERROR: {{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

    <form class = "registerForm" method="POST">
        <h1>Registration Form</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="input-field">
                <i class="fas fa-envelope"></i>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}
                </p>
            </div>

            <div class="input-field">
                <i class="fas fa-lock"></i>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </div>            

            <div class="button-container">
                <p>{{ form.submit()}}</p>
            </div>

            <div class="signin-container">
                <p>Already have an account?</p>
                <a href="{{ url_for('login') }}" class="signin-link">Sign in instead</a>
            </div>
          </form>
    </form>

    <div class="btn-group dropright">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </button>
      <div class="dropdown-menu" style="text-align:center; padding-bottom:60px;">
        <form method="post">
            <button class="exclude questionMark" type="submit" value="generatePW" name="generatePW">Generate Password</button>
            <p>{{newPW}}</p>
        </form>
      </div>
    </div>
    
</div>
      


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>

