<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link href="{{url_for('static', filename='registerStyle.css')}}" rel="stylesheet">
    <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <form method="POST">
        <h1>Registration Form</h1>
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        {% endfor %}
        <div class="input-field">
            <i class="fas fa-envelope"></i>
            {% if form.email.errors %}
                {{ form.email(class="form-control error", placeholder="Email") }}
            {% else %}
                {{ form.email(class="form-control", placeholder="Email") }}
            {% endif %}
        </div>
        <div class="input-field">
            <i class="fas fa-lock"></i>
            {% if form.password.errors %}
                {{ form.password(class="form-control error", placeholder="Password") }}
            {% else %}
                {{ form.password(class="form-control", placeholder="Password") }}
            {% endif %}
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>

